# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore data outputs and CSV files
*.csv
output_model.csv
output_noisy.csv

# Ignore logs and temp files
*.log
*.tmp

# Ignore editor-specific files
.vscode/
.idea/
*.swp
.DS_Store
